<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      ol,
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      button,
      hr,
      input {
        overflow: visible;
      }
      audio,
      canvas,
      progress,
      video {
        display: inline-block;
      }
      progress,
      sub,
      sup {
        vertical-align: baseline;
      }
      [type='checkbox'],
      [type='radio'],
      legend {
        box-sizing: border-box;
        padding: 0;
      }
      * {
        box-sizing: border-box;
      }
      html {
        line-height: 1.15;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      body {
        margin: 0;
        font-family: 'Cabin', sans-serif;
        color: #000;
      }
      article,
      aside,
      details,
      figcaption,
      figure,
      footer,
      header,
      main,
      menu,
      nav,
      section {
        display: block;
      }
      figure {
        margin: 1em 40px;
      }
      hr {
        box-sizing: content-box;
        height: 0;
      }
      code,
      kbd,
      pre,
      samp {
        font-family: monospace, monospace;
        font-size: 1em;
      }
      a {
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
      }
      abbr[title] {
        border-bottom: none;
        text-decoration: underline;
        text-decoration: underline dotted;
      }
      b,
      strong {
        font-weight: bolder;
      }
      dfn {
        font-style: italic;
      }
      mark {
        background-color: #ff0;
        color: #000;
      }
      small {
        font-size: 80%;
      }
      sub,
      sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
      }
      sub {
        bottom: -0.25em;
      }
      sup {
        top: -0.5em;
      }
      audio:not([controls]) {
        display: none;
        height: 0;
      }
      img {
        border-style: none;
        width: 100%;
        height: auto;
      }
      svg:not(:root) {
        overflow: hidden;
      }
      button,
      input,
      optgroup,
      select,
      textarea,
      p {
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
      }
      button,
      select {
        text-transform: none;
        background: transparent;
      }
      [type='reset'],
      [type='submit'],
      button,
      html [type='button'] {
        -webkit-appearance: button;
      }
      [type='button']::-moz-focus-inner,
      [type='reset']::-moz-focus-inner,
      [type='submit']::-moz-focus-inner,
      button::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }
      [type='button']:-moz-focusring,
      [type='reset']:-moz-focusring,
      [type='submit']:-moz-focusring,
      button:-moz-focusring {
        outline: ButtonText dotted 1px;
      }
      fieldset {
        padding: 0;
        margin: 0;
        border: 0;
      }
      legend {
        color: inherit;
        display: table;
        max-width: 100%;
        white-space: normal;
      }
      textarea {
        overflow: auto;
      }
      [type='number']::-webkit-inner-spin-button,
      [type='number']::-webkit-outer-spin-button {
        height: auto;
      }
      [type='search'] {
        -webkit-appearance: textfield;
        outline-offset: -2px;
      }
      [type='search']::-webkit-search-cancel-button,
      [type='search']::-webkit-search-decoration {
        -webkit-appearance: none;
      }
      ::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit;
      }
      summary {
        display: list-item;
      }
      [hidden],
      template {
        display: none;
      }
      h1,
      h2,
      h3,
      h4,
      h5 {
        font-size: 1em;
        line-height: inherit;
        padding: 0;
        margin: 0;
      }
    </style>
    <link
      href="https://fonts.googleapis.com/css?family=Cabin:400,400i,700,700i&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <noscript>JavaScript needed to run app.</noscript>
    <div id="deterson-health-records-app"></div>
  </body>
</html>
